version: '3.5'

# Networks --------------------------------------------------------------------

networks:
  eco:
    external: true

# Services --------------------------------------------------------------------

services:

# -- Web

  eco-web:
    image: nginx:latest
    container_name: eco_web
    ports:
       - '${APP_HTTP_PORT:-80}:80'
    restart: unless-stopped
    volumes:
      - ./.build/nginx.dev.conf:/etc/nginx/conf.d/default.conf
      - ./:/var/www

# -- FPM

  eco-fpm:
    container_name: eco_fpm
    build:
      context: ./.build
      dockerfile: fpm.dockerfile
    restart: unless-stopped
    expose:
      - 9000
    volumes:
      - ./:/var/www

# -- DB

  eco-db:
    image: mysql:latest
    container_name: eco_db
    ports:
     - '${DB_PORT:-3306}:3306'
    volumes:
      - ../database:/var/lib/mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}


# Volumes ---------------------------------------------------------------------

#
