// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3d5a80;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #c85c5c;
$orange: #e37f5b;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #55a9ee;
$black: #141920;
$white: #ffffff;

$light: $white;
$dark: $black;

$theme-colors: ("primary": $cyan,
    "secondary": #b3b6ba,
    "success": $green,
    "info": $teal,
    "warning": $orange,
    "danger": $red,
    "light": $white,
    "dark": $black,
);
