// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.article {
    padding: 32px;
    margin-bottom: 32px;
    border-radius: 22px;
    box-shadow: var(--box-shadow-rgba);
    background-color: var(--background-alt-color);
}
